<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Mongo" />
        <add assembly="NLog.Appsettings.Standard" />
    </extensions>

    <targets async="true">
        <target name="console" xsi:type="Console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString}" />
        
        <target xsi:type="Mongo">
            <name>MongoDBError</name>
            <includeDefaults>true</includeDefaults>
            <includeEventProperties>false</includeEventProperties>
            <connectionString>${appsettings:name=MongoDBSettings.MongoDB}</connectionString>
            <databaseName>${appsettings:name=MongoDBSettings.DatabaseName}</databaseName>
            <collectionName>error-logs</collectionName>

            <field name="Properties" bsonType="Object">
                <layout type="JsonLayout" includeAllProperties="true" includeMdlc="true" maxRecursionLimit="10">
                    <attribute name="UserId" layout="${userid}" />
                    <attribute name="ProcessName" layout="${processname:fullName=false}" />
                    <attribute name="ActionName" layout="${ActionName:fullName=false}" />
                    <attribute name="ActionId" layout="${ActionId:fullName=false}" />
                </layout>
            </field>
        </target>
        
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Error" writeTo="MongoDBError" final="true" />
    </rules>
</nlog>